<!--Modal for update-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Transacton list</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive ">
                    <table id="list-bank-account" class="table table-hover ">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Description</td>
                                <td>Debit/Credit</td>
                                <td>Balance</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>