@{
    ViewData["title"] = "Account";
    ViewData["pageName"] = "Account";
    ViewData["controller"] = "bankaccount";
    ViewData["action"] = "index";
    Layout = "_Layout";
}

@using ProjectSemester3;
@model dynamic;
<div class="row">
    <div class=" container col-xl-8 col-md-12 ">
        <div class="step-title mb-2 ">
            <b>Step 1: </b>Choose account
        </div>
        <div class="card table-card ">
            <div class="card-header ">
                <h5>ACCOUNT INFORMATION</h5>
            </div>
            <div class="card-block ">
                <div class="table-responsive ">
                    <table id="bank-account" class="table table-hover ">
                        <thead>
                            <tr>
                                <td>Choose account</td>
                                <td>
                                    <Select id="list-code" class="form-control" onchange="bankAccountChange()">
                                        <option value="" disabled selected hidden>Please choose an account...</option>
                                        @foreach (var code in Model.bankAccounts)
                                        {
                                            <option name="bank-id" id="@code.Id" value="@code.Id">@code.BankCode</option>
                                        }
                                    </Select>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Account type</td>
                                <td class="text-right ">VND</td>
                            </tr>
                            <tr>
                                <td>Current balance </td>
                                <td class="text-right ">0.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-xl-8 col-md-12 ">
        <div class="step-title mb-2 ">
            <b>Step 2: </b>Choose transaction
        </div>
        <div class="card">
            <div class="card-header ">
                <h5>
                    QUICK SEARCH
                </h5>
            </div>
            <div class="card-block ">
                <div class="form-check ml-4">
                    <input type="radio" class="form-check-input" name="radio-transaction" id="ten-day" value="ten-day" checked />
                    <label class="form-check-label" for="ten-day">Last 10 transactions</label>
                </div>
                <div class="form-check ml-4">
                    <input type="radio" class="form-check-input" name="radio-transaction" id="one-month" value="one-month" />
                    <label class="form-check-label" for="one-month">Transaction within 1 month</label>
                </div>
                <div class="form-check ml-4">
                    <input type="radio" class="form-check-input" name="radio-transaction" id="three-months" value="three-months" />
                    <label class="form-check-label" for="three-months">Transaction within 3 months</label>
                </div>
            </div>
            <div class="button-group mb-3 ml-3 ">
                <input class="btn btn-primary " type="submit" value="Search" data-toggle="modal" data-target="#updateModal" onclick="listTransaction()" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container col-xl-8 col-md-12 ">
        <div class="card">
            <div class="card-header ">
                <h5>SEARCH TRANSACTION</h5>
            </div>
            <div class="card-block ">
                <div class="row">
                    <div class="col-md-6 ">
                        <table class="mb-3 ml-3 ">
                            <tr class="">
                                <td>Date from </td>
                                <td><input class="form-control" type="date"  name="dateFrom" id="From"></td>
                            </tr>
                            <tr>
                                <td>Date to</td>
                                <td><input class="form-control" type="date"  name="dateTo" id="To"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 ">
                        <table class="mb-3 ">
                            <tr>
                                <td>Amount from</td>
                                <td><input class="form-control mb-2" type="number" name="min" id="Min" step="0.01" oninput="this.value = Math.abs(this.value)"></td>
                            </tr>
                            <tr>
                                <td>Amount to</td>
                                <td><input class="form-control" type="number" name="max" id="Max" step="0.01" oninput="this.value = Math.abs(this.value)"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="button-group mb-3 ml-3 ">
                <input class="btn btn-primary " type="submit" value="Search" data-toggle="modal" data-target="#updateModal2" onclick="listTransactionByDate()">
            </div>
        </div>
    </div>
</div>
<!--modal update-->
@await Html.PartialAsync($"~/Views/bankAccount/Detail.cshtml")
@await Html.PartialAsync($"~/Views/bankAccount/Detail2.cshtml")
@section ScriptsBlock
{
    <script src="~/assets/js/script.bank-account.js" asp-append-version="true"></script>
}

