@model ProjectSemester3.Models.Help

<form method="post" asp-area="admin" asp-controller="help" asp-action="update">
    <table>
        <tr>
            <td>Contact number 1</td>
            <td>
                <input type="text" asp-for="ContactNumber1" />
            </td>
        </tr>
        <tr>
            <td>Contact number 2</td>
            <td>
                <input type="text" asp-for="ContactNumber2" />
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" asp-for="Address" />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" asp-for="Email" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" asp-area="admin" asp-controller="help" asp-action="update" />
            </td>
        </tr>
    </table>
</form>