
@{
    ViewData["title"] = "Banking Online";
    ViewData["pageName"] = "Home";
    ViewData["controller"] = "home";
    ViewData["action"] = "index";
    Layout = "_Layout";
}
    <div class="row">
        <div class=" container col-xl-8 col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>List Current Accounts</h5>
                    <div class="card-header-right mb-5">
                        <input type="button" name="add" class="btn btn-primary" value="New Account" />
                    </div>

                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Account Number</th>
                                    <th>Available Balance</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>123456789123</td>
                                    <td>1,234,567 VND</td>
                                    <td class="text-right"><label class="label label-inverse-primary"><a asp-controller="home" asp-action="account-detail">Detail</a></label></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>123456789123</td>
                                    <td>9,123,123,121 VND</td>
                                    <td class="text-right"><label class="label label-inverse-primary"><a href="account-detail.html">Detail</a></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
