
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Index (Home, currently testing)</h3>
<form>
    <table border="1">
        <tr>
            <th>Chu tai khoan</th>
            <td></td>
        </tr>
    </table>
</form>

