<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/JS/script.js"></script>
</head>
<body>
    <h3>Shared part</h3>
    <hr />
    <div>
        <h3>Main content</h3>
        @RenderBody()
    </div>
</body>
</html>
