<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h3>Shared part</h3>
    <hr />
    <div>
        <h3>Main content</h3>
        @RenderBody()
    </div>
</body>
</html>
