@{
    ViewData["title"] = "Banking Online";
    ViewData["pageName"] = "Transaction";
    ViewData["controller"] = "transaction";
    ViewData["action"] = "index";
    Layout = "_Layout";
}
@model ProjectSemester3.Models.Transaction;
<div class="row">
    <div class=" container col-xl-8 col-md-12">
        <!-- multistep form -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-12 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h2 id="heading">Transaction</h2>
                        <form id="msform" method="post" asp-controller="transaction" asp-action="index" onsubmit="return validateForm()">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="initialization"><strong>Initialization</strong></li>
                                <li id="verify"><strong>Verify</strong></li>
                                <li id="accuracy"><strong>Accuracy</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <fieldset>
                                <div class="form-card">
                                    <div class="table-card ">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="bank-account-detail">
                                                <thead>
                                                    <tr>
                                                        <td>Account Number</td>
                                                        <td class="text-right">
                                                            <Select id="list-code" asp-for="BankAccountIdFrom" class="form-control form-control-primary" required="" onchange="bankAccountChange()">
                                                                <option value="" disabled selected hidden>Please choose an account...</option>
                                                                @foreach (var b in ViewBag.bankAccounts)
                                                                {
                                                                    <option value="@b.Id">@b.BankCode</option>
                                                                }
                                                            </Select>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <table class="table table-hover" id="bank-account-to">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            <label for="account-to">Beneficiary account</label>
                                                        </td>
                                                        <td class="text-right form-group form-primary">
                                                            <input class="form-control form-control-primary" name="bankto" type="text" id="account-to" pattern="[A-Za-z0-9]{6}" maxlength="6" onchange="changeAccount()">
                                                            <span style="color:red;font-size:14px;" id="account-failed"></span>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <table class="table table-hover" id="">
                                                <tbody>
                                                    <tr>
                                                        <td>transfer amount</td>
                                                        <td class="text-right ">
                                                            <input asp-for="Amount" class="form-check-input" type="number" id="amount" value="0" step="0.01" oninput="this.value = Math.abs(this.value)">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Description</td>
                                                        <td class="text-right">
                                                            <textarea asp-for="Content" class="form-control" maxlength="250"></textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit"  class="action-button" value="Next" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock
{
    <script src="~/assets/js/script.transfer.js" asp-append-version="true"></script>
}