@{
    ViewData["title"] = "Banking Online";
    ViewData["pageName"] = "Transaction";
    ViewData["controller"] = "transaction";
    ViewData["action"] = "index";
    Layout = "_Layout";
}
@model ProjectSemester3.Models.Transaction;
<div class="row">
    <div class=" container col-xl-8 col-md-12">
        <!-- multistep form -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-12 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h2 id="heading">Transaction</h2>
                        <form id="msform" method="post" asp-controller="transaction" asp-action="step3">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="initialization"><strong>Initialization</strong></li>
                                <li class="active" id="verify"><strong>Verify</strong></li>
                                <li class="active" id="accuracy"><strong>Accuracy</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul>
                            <fieldset>
                                <div class="form-card">
                                    <div class="table-card">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="col-12 text-center">Enter OTP code</label>
                                                            <div class="col-12 text-center"><input class="w-50 text-center" type="text" name="otp" id="" maxlength="6" pattern="[0-9]{6}" required=""></div>
                                                            <div class="col-12 text-center">
                                                                <span style="color:red;font-size:14px;">@ViewBag.otpFailed</span>
                                                            </div>
                                                            <label class="col-12 text-center">We have sent OTP code to your email! <br>OTP code is available in 30s</label>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" asp-for="BankAccountIdFrom" />
                                <input type="hidden" asp-for="BankAccountIdTo" />
                                <input type="hidden" asp-for="Amount" />
                                <input type="hidden" asp-for="Content" />
                                <input type="submit" name="next" class="next action-button" value="Submit" />
                                <a asp-controller="transaction" asp-action="index"><input type="button" name="previous" class="action-button-previous " value="Cancel" /></a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock
{
    <script src="~/assets/js/script.transfer.js" asp-append-version="true"></script>
}