
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    // seting up data
    $(document).ready(function () {
        $(document).on({
            ajaxStop: function () {
                $("#loadingOverlay.overlay").removeClass("overlay");
                $("#loadingOverlay").addClass("d-none");
            }
        });

        LoadData();

        // set start change event
        SetCheckBoxChangeEvent();

        // reset change event
        $('#authenticationModal, #authenticationModal2').on('hidden.bs.modal', function (e) {
            SetCheckBoxChangeEvent();
        })

        // set up password validation
        $('#changePasswordForm').validate({
            submitHandler: function (form) {
                ChangePassword();
            }
        });

        // turn on authenticate form
        $("#authenticateForm").submit(function (event) {
            var code = $("#code").val();
            $.post("confirmAuthenticate/" + code, function (result) {
                if (result) {
                    CreateToastSuccess();
                    $("#isAuthentication").prop('checked', true);
                } else if (result == false) {
                    CreateToastFailed("Invalid code");
                    $("#isAuthentication").prop('checked', false);
                } else {
                    CreateToastFailed(result);
                    $("#isAuthentication").prop('checked', false);
                }
                $("#authenticationModal").modal("toggle");
            })
            event.preventDefault();
        });

        // turn off authenticate form
        $("#authenticateForm2").submit(function (event) {
            var code = $("#code2").val();

            $.post("confirmAuthenticate/" + code, function (result) {
                if (result) {
                    CreateToastSuccess();
                    $("#isAuthentication").prop('checked', false);
                } else if (result == false) {
                    CreateToastFailed("Invalid code");
                    $("#isAuthentication").prop('checked', true);
                } else {
                    CreateToastFailed(result);
                    $("#isAuthentication").prop('checked', true);
                }
                $("#authenticationModal2").modal("toggle");
            })
            event.preventDefault();
        });
    });

    // set change event for checkbox
    function SetCheckBoxChangeEvent() {
        $("#isAuthentication").one("change", function () {
            // turn on
            if (this.checked) {
                $("#isAuthentication").prop('checked', false);

                $.get("authenticate", function (result) {
                    $("#img").attr("src", result.barcodeImageUrl);
                    $("#key").val(result.setupCode);
                    $("#code").val("");

                    $("#authenticationModal").modal("toggle");
                });
                // turn off
            } else {
                $("#isAuthentication").prop('checked', true);

                $("#code2").val("");
                $("#authenticationModal2").modal("toggle");
            }
        });
    }

    // get and show data
    function LoadData() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '../accountObject/find/@ViewBag.username',
            success: function (result) {
                $("#username").val(result.username);
                $("#isAuthentication").prop('checked', result.isAuthentication);
            }
        })

        $('#updateForm').validate().resetForm();
    }

    // reset password form
    function ResetPasswordForm() {
        $('#oldPassword').val("");
        $('#newPassword').val("");
        $('#confirmNewPassword').val("");

        // plug-in reset function
        $("#changePasswordForm").validate().resetForm();

        // fix bootstrap reset error
        $('#changePasswordForm .form-control').removeClass('is-invalid');
    }

    // post: update user's username and whether to enable 2FA Auth
    function SaveTarget() {
        var username = $("#username").val();
        var authenticated = false;
        if ($('#isAuthentication').is(":checked")) {
            authenticated = true;
        }

        var object = {
            "Username": username,
            "IsAuthentication": authenticated,
        }

        $.post("editInfo", object, function (data) {
            if (data) {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Success',
                    icon: 'fas fa-check',
                    body: 'Change username successfully. Now you need to login again.'
                })

                // logout / return to login page
                setTimeout(function () {
                    var href = $('#logoutLink').attr('href');
                    window.location.href = href;
                }, 2000);

            } else {
                CreateToastFailed(data);
            }
            LoadData();
        }).fail(function (data) {
            CreateToastFailed(data);
            LoadData();
        });
    }

    // post: change user's password
    function ChangePassword() {
        var password = $("#confirmNewPassword").val();

        var object = {
            "Password": password
        }

        $.post("changePassword", object, function (data) {
            if (data) {
                CreateToastSuccess();
            } else {
                CreateToastFailed(data);
            }
            ResetPasswordForm();
        });
    }
</script>

<div class="container">
    <br />
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <form id="updateForm">
                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Change account info</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Username</label>
                                    <input type="text" id="username" class="form-control username" name="username" placeholder="Username">
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="form-check-input ignore" id="isAuthentication">
                                        <label class="form-check-label" for="isAuthentication">Is authenticated</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="button" value="Reset" class="btn btn-info float-left" onclick="LoadData()" />
                                <input type="submit" value="Save Changes" class="btn btn-success float-right">
                            </div>
                        </div>
                    </form>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="changePasswordForm">
                        <div class="card card-outline card-danger">
                            <div class="card-header">
                                <h3 class="card-title">Change password</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="name">Old password</label>
                                    <input type="password" id="oldPassword" name="oldPassword" class="form-control ignore" required>
                                </div>
                                <div class="form-group row">
                                    <label for="name">New password</label>
                                    <input type="password" id="newPassword" name="newPassword" class="form-control password">
                                </div>
                                <div class="form-group row">
                                    <label for="name">Confirm new password</label>
                                    <input type="password" id="confirmNewPassword" name="confirmPassword" class="form-control confirmPassword">
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="button" value="Reset" class="btn btn-info float-left" onclick="ResetPasswordForm()" />
                                <input type="submit" value="Save Changes" class="btn btn-success float-right">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="authenticationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Authenticate</h4>
            </div>
            <div class="modal-body">
                <form id="authenticateForm">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <img id="img" alt="QR code" class="img-thumbnail" width="300" height="300" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input class="form-control" type="text" id="key" readonly />
                                <p>
                                    Guide: To active the service's 2FA code, you need to install the Google
                                    Authenticator app in your phone, then you need to scan this image into
                                    the app or enter the code into the app. Then you can make a new account in the app to receive codes for future actions.
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Enter 2FA code</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="code" required />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-info float-lg-right" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="authenticationModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Authenticate</h4>
            </div>
            <div class="modal-body">
                <form id="authenticateForm2">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <p>
                                    Guide: Use the code in the Google Authenticator app's account you have created when turn on authentication.
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Enter 2FA code</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="code2" required />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-info float-lg-right" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a id="logoutLink" asp-controller="login" asp-action="logout" class="d-none"></a>
