@{
    ViewData["title"] = "Banking Online";
    ViewData["pageName"] = "Profile";
    ViewData["controller"] = "accountobject";
    ViewData["action"] = "index";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-header">
        <h4>Profile</h4>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Hoang Minh Tien</td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>07-09-2001</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>0123456789</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>tinhoang7901@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>HBC, Thủ Đức, tp Hồ Chí Minh</td>
                    </tr>
                    <tr>
                        <th>Job</th>
                        <td>Student</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <th>ID Number</th>
                        <td>00000001</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>