@{
    ViewData["title"] = "Setting";
    ViewData["pageName"] = "Setting";
    ViewData["controller"] = "accountobject";
    ViewData["action"] = "setting";
    Layout = "_Layout";
}
@model ProjectSemester3.Models.AccountObject;
<style>
    /**====== Switch css start ======**/
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    /**====== Switch css end ======**/
</style>
<div class="row">
    <div class="col-sm-12">
        <!-- Material tab card start -->
        <div class="card">
            <div class="card-header">
                <h4>Page Settings</h4>
            </div>
            <div class="card-block">
                <!-- Row start -->
                <div class="row ">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home3" role="tab"><h6>Change Password</h6></a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile3" role="tab"><h6>Authentication</h6></a>
                                <div class="slide"></div>
                            </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content card-block">
                            <div class="tab-pane active" id="home3" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <div class="card text-center">
                                            <div class="card-block ">
                                                <h6>Choose a strong password and don't reuse it for other accounts</h6>
                                                <form id="changePasswordForm" class="form-material mt-3">
                                                    <div class="form-group form-default form-primary">
                                                        <input type="password" id="oldPassword" name="oldPassword" class="form-control ignore" required>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Password</label>
                                                    </div>
                                                    <div class="form-group form-default form-primary">
                                                        <input type="password" id="newPassword" name="newPassword" class="form-control password" required>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">New Password</label>
                                                    </div>
                                                    <div class="form-group form-default form-primary">
                                                        <input type="password" id="confirmNewPassword" name="confirmPassword" class="form-control confirmPassword" required>
                                                        <span class="form-bar"></span>
                                                        <label class="float-label">Re Enter Password</label>
                                                    </div>
                                                    <div class="text-center mt-5">
                                                        <input type="hidden" id="SettingId" value="@Model.Id" />
                                                        <input type="submit" name="next" class="btn btn-primary" value="Save change" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile3" role="tabpanel">
                                <div class="mt-2">
                                    <h4>Protect your account with 2-Step Verification</h4>
                                    <label for="">Every time you sign in to your Account, you'll need your password and verification code.</label>
                                    <div class="row mt-3">
                                        <div class="col-md-2 col-12 "><img src="~/assets/images/security1.PNG" alt=""></div>
                                        <div class="col-md-10 col-12 pt-4">
                                            <b>Looking for more information</b> <br><br> Add an extra layer of security Enter the unique password and verification code sent to your phone.
                                        </div>
                                        <div class="col-md-2 col-12 pl-1">
                                            <div class="col-md-2 col-12 "><img src="~/assets/images/security2.PNG" alt=""></div>
                                        </div>
                                        <div class="col-md-10 col-12 pt-4"><b>Avoid the bad guys</b> <br><br> Even if someone gets your password, it won't be enough to log into your account.</div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="data-table-main icon-list-demo">
                                        <div class="row text-right">
                                            <div class=" col-md-10 outer-ellipsis">
                                                <label class="switch">
                                                    @if (!Model.IsAuthentication)
                                                    {
                                                        <input type="checkbox" id="codeCheck" data-toggle="modal" data-target="#updateAuthentication">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="codeCheck" data-toggle="modal" data-target="#updateAuthentication" checked>
                                                    }
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- end of data table -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
            </div>
        </div>
        <!-- Material tab card end -->
    </div>
</div>
@await Html.PartialAsync($"~/Views/AccountObject/UpdateAuthentication.cshtml")
@section ScriptsBlock
{
    <script src="~/assets/js/script.setting.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

}