<!-- Modal start -->
<div class="modal fade modal-icon" id="updateAuthentication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-body">
                    <div class="row">
                        <!--  project and team member start -->
                        <div class=" container col-xl-12 col-md-12">
                            <!-- multistep form -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-12 text-center p-0 mt-3 mb-2">
                                        <div class="card px-0 pb-0 mb-3">
                                            <form id="msform">
                                                <!-- progressbar -->
                                                <ul id="progressbar">
                                                    <li class="active" id="initialization"></li>
                                                    <li class="active" id="verify"></li>
                                                    <li id="accuracy"></li>
                                                    <li id="confirm"></li>
                                                </ul>
                                                <!-- <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> <br> -->
                                                <!-- fieldsets -->                                                
                                                <!--2-->
                                                <fieldset>
                                                    <div class="form-card">
                                                        <div class="table-card ">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                        <tr>
                                                                            <div class="mb-2"><img src="~/assets/images/security3.PNG" alt=""></div>
                                                                            <label class="col-12 text-center"><h5>Your phone settings</h5><br></label>
                                                                            <label for="">Which phone number do you want to use?</label>
                                                                            <form class="form-material text-primary">
                                                                                <div class=" form-group form-primary">
                                                                                    84 846 750 088
                                                                                </div>
                                                                                <span>
                                                                                    We will only use this number for account security. <br>
                                                                                    Message or data charges may apply.
                                                                                </span><br><br>
                                                                                <label for=""> How would you like to receive the code?</label>

                                                                                <div class="row text-left">
                                                                                    <div class="col-md-1 pr-0 text-right"><input type="radio" name="method" value="1" checked></div>
                                                                                    <div class="col-md-4 pl-0">Text Messages</div>
                                                                                    <div class="col-md-1 pr-0 text-right"><input type="radio" name="method" value="2"></div>
                                                                                    <div class="col-md-4 pl-0">Phone call</div>
                                                                                </div>
                                                                            </form>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="button" name="next" class="next action-button" value="Next" />
                                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                </fieldset>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<!-- Modal end -->
