<!-- Modal start -->
<div class="modal fade modal-icon" id="updateAuthentication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-body">
                    <div class="row">
                        <!--  project and team member start -->
                        <div class=" container col-xl-12 col-md-12">
                            <!-- multistep form -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-12 text-center p-0 mt-3 mb-2">
                                        <div class="card px-0 pb-0 mb-3">
                                            <form id="msform">
                                                <!-- progressbar -->
                                                <ul id="progressbar">
                                                    <li class="active" id="initialization"></li>
                                                    <li class="active" id="verify"></li>
                                                    <li class="active" id="accuracy"></li>
                                                    <li id="confirm"></li>
                                                </ul>
                                                <!-- <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> <br> -->
                                                <!-- fieldsets -->
                                                <!--3-->
                                                <fieldset>
                                                    <div class="form-card">
                                                        <div class="table-card">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <div class="mb-2"><img src="~/assets/images/security3.PNG" alt=""></div>
                                                                        <label class="col-12 text-center"><h5>Confirm your phone number is working</h5><br></label>
                                                                        <label for="">We just sent a text message with a verification code to <b>0846750088</b></label>
                                                                        <label class="col-12 text-center">Enter code</label>
                                                                        <div class="col-12 text-center">
                                                                            <input class="w-50" type="text" id="">
                                                                        </div>
                                                                        <label class="col-12 text-center">Do not receive? <a href="">please resend</a> </label>
                                                                            
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <input type="button" name="next" class="next action-button" value="Next" />
                                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                </fieldset>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<!-- Modal end -->
