<!-- Modal start -->
<div class="modal fade modal-icon" id="updateAuthentication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="page-body">
                    <div class="row">
                        <!--  project and team member start -->
                        <div class=" container col-xl-12 col-md-12">
                            <!-- multistep form -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-12 text-center p-0 mt-3 mb-2">
                                        <div class="card px-0 pb-0 mb-3">
                                            <form id="msform">
                                                <!-- progressbar -->
                                                <ul id="progressbar">
                                                    <li class="active" id="initialization"></li>
                                                    <li class="active" id="verify"></li>
                                                    <li class="active" id="accuracy"></li>
                                                    <li class="active" id="confirm"></li>
                                                </ul>
                                                <!-- <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div> <br> -->
                                                <!-- fieldsets -->
                                                <fieldset>
                                                    <div class="form-card">
                                                        <div class="table-card">
                                                            <div class="table-reponsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div style="height: 120px; width: 160px; margin-left: 30%;"><img src="~/assets/images/success-img.png" alt="" height="100%" width="100%"></div>
                                                                                <h5>
                                                                                    Your account has been set up for authentication!
                                                                                </h5>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <a href="setting.html"><input type="button" name="home" class="action-button" value="Exit" /></a>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<!-- Modal end -->