
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    // seting up data
    $(document).ready(function () {
        $(document).on({
            ajaxStop: function () {
                $("#loadingOverlay.overlay").removeClass("overlay");
                $("#loadingOverlay").addClass("d-none");
            }
        });

        LoadData();
    });

    // get and show data
    function LoadData() {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: 'loadData',
            success: function (result) {
                $("#title").val(result.title);
                $("#defaultNumOfShowedTransaction").val(result.defaultNumOfShowedTransaction);
                $("#defaultCurrencyId").val(result.defaultCurrencyId);
            }
        })

        ResetUpdateForm();
    }

    // update value
    function SaveTarget() {
        var title = $("#title").val();
        var defaultNumOfShowedTransaction = $("#defaultNumOfShowedTransaction").val();
        var defaultCurrencyId = $("#defaultCurrencyId").val();

        var object = {
            "Id": 1,
            "title": title,
            "DefaultNumOfShowedTransaction": defaultNumOfShowedTransaction,
            "DefaultCurrencyId": defaultCurrencyId,
        }

        $.post("edit", object, function (data) {
            if (data) {
                CreateToastSuccess();
            } else {
                CreateToastFailed(data);
            }
            LoadData();
        });
    }
</script>

<div class="container">
    <br />
    <form id="updateForm">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Setting</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="title">Web title</label>
                            <input type="text" id="title" class="form-control title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="defaultNumOfShowedTransaction">Default number of showed transaction</label>
                            <input type="text" id="defaultNumOfShowedTransaction" name="number" class="form-control positiveNum">
                        </div>
                        <div class="form-group">
                            <label for="defaultCurrencyId">Default currency</label>
                            <select id="defaultCurrencyId" class="form-control custom-select ignore">
                                @{
                                    foreach (var currency in ViewBag.currencies)
                                    {
                                        <option value="@currency.Id">@currency.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary" onclick="LoadData()">Cancel</a>
                <input type="submit" value="Save Changes" class="btn btn-success float-right">
            </div>
        </div>
    </form>
</div>