<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <!-- toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css" />

    <!-- jQuery 3.5.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/JS/validation.js"></script>

    <!-- display data -->
    <script src="~/JS/data_display.js"></script>

    <!-- date converter -->
    <script src="~/JS/dateScript.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>
            
            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item" id="homeList">
                            <a href="#" class="nav-link" id="home">
                                <i class="fas fa-home nav-icon"></i>
                                <p>
                                    Home
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" id="profile" asp-area="admin" asp-controller="home" asp-action="index">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Profile</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account" asp-area="admin" asp-controller="home" asp-action="account">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Account</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="login" asp-action="logout" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Logout</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="accountObj" asp-area="admin" asp-controller="accountObject" asp-action="index">
                                <i class="far fa-user nav-icon"></i>
                                <p>
                                    Account objects
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="bankAccount" asp-area="admin" asp-controller="bankAccount" asp-action="index">
                                <i class="fas fa-piggy-bank nav-icon"></i>
                                <p>
                                    Bank accounts
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="bank" asp-area="admin" asp-controller="bank" asp-action="index">
                                <i class="fas fa-university nav-icon"></i>
                                <p>
                                    Banks
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="currency" asp-area="admin" asp-controller="currency" asp-action="index">
                                <i class="fas fa-dollar-sign nav-icon"></i>
                                <p>
                                    Currencies
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="faq" asp-area="admin" asp-controller="faq" asp-action="index">
                                <i class="fas fa-info nav-icon"></i>
                                <p>
                                    FAQ
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="customerProb" asp-area="admin" asp-controller="question" asp-action="index">
                                <i class="far fa-question-circle nav-icon"></i>
                                <p>
                                    Customer questions
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" id="saList">
                            <a href="#" class="nav-link" id="sa">
                                <i class="fas fa-users-cog nav-icon"></i>
                                <p>
                                    Super admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" id="setting" asp-area="superadmin" asp-controller="setting" asp-action="index">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Setting</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="staff" asp-area="superadmin" asp-controller="staff" asp-action="index">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Staff</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="help" asp-area="superadmin" asp-controller="help" asp-action="index">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Help info
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-area="admin" asp-controller="home" asp-action="index">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.tagName</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <section class="content">
                <div class="container-fluid">
                    <!-- view specific script -->
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>

    <!-- ./ -->
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            // set active tag
            $("#@ViewBag.activeTag").addClass("active");
            $("#@ViewBag.activeParentTag").addClass("active");
            $("#@ViewBag.activeParentTag" + "List").addClass("menu-open");
        })

        function CreateToastSuccess() {
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Success',
                icon: 'fas fa-check',
                autohide: true,
                body: 'Action done successfully!',
                delay: 1500,
            })
        }

        function CreateToastFailed(data) {
            $(document).Toasts('create', {
                icon: 'fas fa-exclamation-circle',
                class: 'bg-danger',
                title: 'Failed',
                body: 'An error has occured: ' + data,
                autohide: true,
                delay: 3000,
            })
        }
    </script>
</body>
</html>
